:root {
  --color-iris-primaryBrand: #4d5ae5;
  --color-ocean-pressedSeat: #404bbf;
  --color-navyBlue-Dark: #2e2f42;
  --color-Green-Success: #31d0aa;
  --color-Slate-text: #434455;
  --color-lightSlate-Subtletext: #8e8f99;
  --color-cornflower-accent: #e7e9fc;
  --color-cloud-light: #f4f4fd;
  --color-navybluemodal-modalOverlay: #2e2f42;
  --color-white: #ffffff;
  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--color-Slate-text);
}
/* Ult */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--color-navyBlue-Dark);
}

.section {
  padding-top: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
  }
}

/* /Ult */

/* Header  */
.header {
  border-bottom: 1px solid var(--color-cornflower-accent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 768px) {
  .nav-list-link {
    display: none;
  }
  .contact-list {
    display: none;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-iris-primaryBrand);
}

.toplogo {
  color: var(--color-navyBlue-Dark);
}

.burger-icon {
  stroke: var(--color-navyBlue-Dark);
  width: 32px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: baseline;
  }

  .nav-list-item .link {
    padding-top: 24px;
  }

  .nav-list-item > .link:hover,
  .nav-list-item > .link:focus {
    color: var(--color-Slate-text);
  }

  .nav-list-item > .link:active,
  .contact-list-item:active {
    color: var(--color-iris-primaryBrand);
  }

  .nav-list-item:first-child {
    margin-right: 76px;
  }

  .nav-list-item.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean-pressedSeat);
  }
  .nav-list-item:not(:first-child) {
    margin-left: 40px;
  }

  .nav-list-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-list-item:last-child {
  margin-left: 40px;
}

.burger {
  background-color: transparent;
  border: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-container {
    justify-content: space-between;
    align-items: center;
  }
}

.contact-list {
  margin-left: auto;
  padding-top: 16px;
}
.contact-list-item {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
  color: var(--color-Slate-text);
}
@media screen and (min-width: 1158px) {
  .contact-list {
    display: flex;
    margin-left: auto;
    padding-top: 24px;
  }
  .contact-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}
/* Modal  */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);

  visibility: hidden;
  pointer-events: none;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}
.close-mobile-menu {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--color-cornflower-accent);
}

.close-mobile-menu-icon {
  width: 8px;
  height: 18px;
  fill: var(--color-navyBlue-Dark);
}

.is-open {
  visibility: visible;
  pointer-events: auto;
}

.mob-nav-list:not(:last-child) {
  margin-bottom: 40px;
}

.mob-nav {
  margin-top: 80px;
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-container > .bottom-mob > .social-list {
  padding-bottom: 40px;
  justify-content: flex-start;
  column-gap: 56px;
}

.mobile-menu-container > .bottom-mob > .mob-contact-list .h2 {
  text-align: left;
  margin-bottom: 40px;
  display: inline-block;
}

.bottom-mob {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-bottom: 40px;
}

.mobile-menu-container > .bottom-mob > .mob-contact-list .h3 {
  color: var(--color-Slate-text);
  font-size: 20px;
}

.mob-nav-list > .link:active,
.mob-contact-list .link:active {
  color: var(--color-ocean-pressedSeat);
}

.footer-social-links.mob:active {
  background-color: var(--color-Green-Success);
}
/* /Modal  */
/* /header  */
/* Hero  */
.h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .h1 {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }
}
.hero-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/portfolio-images/hero-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-navyBlue-Dark);
  padding-top: 112px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 188px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/portfolio-images/people-office\ 1.jpg');
    max-width: 1158px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/portfolio-images/people-office\ 1.jpg');
    max-width: 1440px;
  }
}

.heroButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--color-white);
  background-color: var(--color-iris-primaryBrand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .heroButton {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .heroButton {
    margin-top: 48px;
  }
}

.heroButton:hover,
.heroButton:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.heroButton:active {
  background: #404bbf;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* 



*/
/* /Hero  */
/* Oportunities  */

@media screen and (min-width: 1158px) {
  .oportunities-list-item::before {
    content: '';
    display: block;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-cloud-light);
  }

  .oportunities-list-item.antenna::before {
    background-image: url('../images/svg/antenna.svg');
  }

  .oportunities-list-item.clock::before {
    background-image: url('../images/svg/clock.svg');
  }

  .oportunities-list-item.diagram::before {
    background-image: url('../images/svg/diagram.svg');
  }

  .oportunities-list-item.astronaut::before {
    background-image: url('../images/svg/astronaut.svg');
  }
}

.oportunities-list .h3 {
  margin-bottom: 8px;
}

.h3 {
  color: var(--color-navyBlue-Dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 1158px) {
  .oportunities-section {
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 768px) {
  .oportunities-list-item > .h3 {
    text-align: center;
  }
  .oportunities-text {
    font-weight: 500;
  }

  .oportunities-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .oportunities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .oportunities-text {
    display: block;
    width: 356px;
  }
}

@media screen and (max-width: 1158px) {
  .oportunities-list-item > .h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 1158px) {
  .oportunities-text {
    width: 264px;
  }
}

/* /Oportunities  */
/* What are we doing */

.photo-list-section {
  display: none;
}
@media screen and (min-width: 1158px) {
  .photo-list-section {
    display: block;
  }
}
.photo-list {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  margin-top: 72px;
  padding-bottom: 120px;
}

/* /What are we doing */
/* Our team */
.social-list-link {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: var(--color-iris-primaryBrand);
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-ocean-pressedSeat);
}

.social-list-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.social-list {
  display: flex;
  column-gap: 24px;
  margin-top: 8px;
}

.team-section {
  background-color: var(--color-cloud-light);
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding-bottom: 120px;
  }
}

.team-text {
  padding: 32px 16px;
  background-color: var(--color-white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-text > .h3 {
  margin-bottom: 8px;
}

.team-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-top: 64px;
    justify-content: center;
  }
}

.team-list-item {
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* /Our team */
/* Customers list  */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
  margin-top: 72px;
}

.customers-icon {
  border: 1px solid var(--color-lightSlate-Subtletext);
  fill: #8e8f99;
  border-radius: 4px;
  padding: 16px 40px;
  width: 190px;
  height: 88px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 168px) {
  .customers-icon {
    width: 168px;
  }

  .customers-list {
    column-gap: 24px;
  }
}

.customers-icon:hover {
  border-color: var(--color-ocean-pressedSeat);
  fill: var(--color-ocean-pressedSeat);
}
.customers-section {
  padding-bottom: 96px;
}

/* /Customers list  */
/* Modal  */
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding-left: 24px;
  padding-right: 24px;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--color-cornflower-accent);
}

.close-btn-icon {
  width: 8px;
  height: 8px;
  fill: var(--color-navyBlue-Dark);
}

.close-btn:active {
  background-color: var(--color-ocean-pressedSeat);
  border-color: transparent;
}

.close-btn:active .close-btn-icon {
  fill: var(--color-white);
}

.modal-h2 {
  margin-top: 72px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-navybluemodal-modalOverlay);
}

.form {
  display: flex;
  flex-direction: column;
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label-modal {
  margin-bottom: 4px;
  color: var(--color-lightSlate-Subtletext);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.label-modal + input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.modal-icon {
  width: 18px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 16px;
  transform: translateY(-25%);
}

.comment {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  width: 360px;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.form-field {
  margin-bottom: 8px;
}
.input:focus-within,
.textarea:focus-within {
  border-color: var(--color-iris-primaryBrand);
  outline: none;
}

.input:focus-within + .modal-icon {
  fill: var(--color-iris-primaryBrand);
}

.checkbox-label {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  margin-bottom: 24px;
  color: var(--color-lightSlate-Subtletext);
  font-size: 12px;

  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.privacy {
  color: var(--color-iris-primaryBrand);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.checkbox {
  appearance: none;
}

.checkbox2 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-label > .checkbox2 {
  background-color: var(--color-ocean-pressedSeat);
  background-image: url('../images/svg/Vector.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.send-btn {
  padding: 16px 32px;
  border: none;
  width: 169px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;

  background: var(--color-iris-primaryBrand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--color-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.send-btn:active {
  background: #404bbf;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* /Modal  */
/* Footer */

.footer-social-icons {
  width: 24px;
  height: 24px;
}
.footer-social-links {
  padding: 8px;
}

.bot-logo,
.bot-text {
  color: var(--color-cloud-light);
}

.bot-text {
  display: inline-block;
  text-align: left;
  width: 268px;
  margin-top: 17.5px;
}
.footer {
  background-color: var(--color-navyBlue-Dark);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-flex > .logo {
  text-align: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerh3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer-flex {
    margin-right: 24px;
    margin-left: 108px;
  }

  .footer-flex > .logo {
    text-align: left;
  }

  .footerh3 {
    text-align: left;
  }

  .footer-form {
    align-items: flex-start;
    margin-left: 108px;
  }
}

.footer-social {
  margin-bottom: 72px;
}

.footer-social-list {
  column-gap: 16px;
}

.footer-social-links:hover,
.footer-social-links:focus {
  background-color: var(--color-Green-Success);
}
.mail-form {
  width: 100%;
}

.footer-label {
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-white);
  font-weight: 500;
}

.footer-input {
  color: var(--color-white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 16px;

  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-input::placeholder {
  color: var(--color-white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-btn {
  display: flex;
  column-gap: 16px;
  background-color: var(--color-iris-primaryBrand);
  padding: 8px 24px;
  border: none;
  border-radius: 4px;

  color: var(--color-white);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.send-form {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .send-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-input {
    display: block;
    width: 264px;
    height: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
  }

  .mail-form {
    width: auto;
  }

  .footer-form {
    margin-left: 0;
  }
  .footer-social {
    margin-right: 80px;
  }
  .footer-flex {
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .footer-social {
    margin-bottom: 0;
  }
}

/* /Footer  */

/* Filtr buttons  */

.filtr-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .filtr-list {
    justify-content: center;
  }
}
.filtr-button {
  padding: 12px 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  border: 1px solid var(--color-cornflower-accent);
  border-radius: 4px;
  color: var(--color-iris-primaryBrand);
  background-color: var(--color-cloud-light);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-button:hover,
.filtr-button:focus {
  color: var(--color-white);
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* /Filtr Buttons  */

/* Portfolio list  */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .portfolio-list {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list li {
    width: 356px;
  }
}

.portfolio-list li:hover,
.portfolio-list li:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list li {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-thumb {
  position: relative;
  overflow: hidden;
}
.overflow {
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris-primaryBrand);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:hover .overflow {
  transform: translateY(0);
}

.overflow-text {
  color: var(--color-cloud-light);
  margin: 32px 40px 32px 40px;
}

.portfolio-text {
  padding: 32px 16px;
}

.portfolio-text > .h3 {
  margin-bottom: 8px;
}

/* /Portfolio list  */
